@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

/* Fonts */
body {
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
	color: #3C3C3C;
	background-color: #EEEEEE;
}

#bodywrap {
	height: 100vh;
}

#mapwindow {
	height: 100vh;
	overflow: auto;
	flex: 5 0 0;
}

#taipeiMap {
	fill: #FFFFFF;
}

#taipeiMap path {
	stroke-width: 0.1px;
	stroke: #000000;
}

#metroStops circle{
	fill: #000000;
	transition: 100ms;
}

#metroStops text {
	fill: #000000;
	font-size: 16px;
	background-color: rgba(255,255,255,.5);
	font-weight: 500;
	transition: 100ms;
}

#metroStops>g:hover>circle {
	r: 4;
}

#metroStops>g:hover>text {
	font-size: 20px;
}

#busStops circle{
	fill: #000000;
	transition: 100ms;
}

#busStops text {
	fill: #000000;
	font-size: 8px;
	background-color: rgba(255,255,255,.5);
	font-weight: 500;
	transition: 100ms;
}

#busStops>g:hover>circle {
	r: 4;
}

#busStops>g:hover>text {
	font-size: 12px;
}

circle.stop{
	stroke-width: 2px;
	fill: #FFFFFF;
}

path.path {
	fill: none;
	stroke-width: 3px;
}

#gridlines {
	fill: none;
	stroke: #888888;
	stroke-width: .5px;
}

#datasheet {
	height: 100vh;
	flex: 5 0 0;
}

#labels {
	background-color: #CCCCCC;
}

.label {
	padding: .5em;
}

.label:hover {
	background-color: #FFFFFF;
}

#tablearea {
	flex: 1 0 0;
	overflow: auto;
}

.tabledata {
	height: 100%;
}